.container {
    width: 800px;
    margin: 0 auto;
}

.main {
    padding-top: 50px;
}

header {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.AddTaskFormHeader input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    margin-right: 30px;
    flex-grow: 1;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding: 0 15px;
}

header button {
    height: 40px;
    padding: 0 20px;
    background: #000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #dddddd;
}

header button:hover {
    background: red;
}

