.items {
    padding: 30px;
}

.item {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item span {
    font-weight: bold;
    font-size: 20px;
    display: block;
    flex-grow: 1;
}

.item button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 30px;
}

.item button:hover {
    color: red
}

.item  b {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
    display: block;
}
.fa-square-o {
    color: blue;
}

.fa-check-square-o {
    color: green;
}
